#header {
    background-color: #12495c;
    color: white;
    font-style: italic;
    text-align: center
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(207, 207, 207);
}
#content {
    background-color:rgb(207, 207, 207);
    padding: 7px;
}
#nav {
    width: 280px;
    float: left;
}
#main {
    width: 600px;
    float: right;
    
}
#footer {
    clear: both;
}
a {
    color: blue;
    text-decoration: none;
}
h2 {
    color: black;
    text-align: left;
    text-decoration: underline;
    font-size: x-large;
    font-style: italic;
}
header {
    text-decoration: underline;
    font-size: large;
    font-style: oblique;
}